<nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Home</a>
    </nav>
    <body>
        <h1>Weather for: {{city}}</h1>
    
        <!-- Table that reads the data for the city-->
        <div class="table-responsive-xl">
        <table class="table table-sm">
            <tr>
                <th scope="col">City:</th>
                <th scope="col">Longitude:</th>
                <th scope="col">Latitude:</th>
                <th scope="col">Sunrise:</th>
                <th scope="col">Sunset:</th>
                <th scope="col">Weather:</th>
                <th scope="col">Windspeed & WindDirection:</th>
                <th scope="col">CloudPercentage:</th>
                <th scope="col">Rain (3h):</th>
                <th scope="col">Snow (3h):</th>
            </tr>
            <tbody>
            <tr>
                <td scope="row">{{city}}</td>
                <td scope="row">{{longitude}}</td>
                <td scope="row">{{latitude}}</td>
                <td scope="row">{{sunriseTime}} CET</td>
                <td scope="row">{{sunsetTime}} CET</td>
                <td scope="row">{{weather}}</td>
                <td scope="row">{{windSpeed}} m/s & {{windDeg}}&deg; {{windDir}}</td>
                <td scope="row">{{cloudPercentage}} %</td>
                <td scope="row" *ngIf="rainForecast">{{rainForecast["3h"]}} mm</td>
                <td scope="row" *ngIf="snowForecast">{{snowForecast["3h"]}} mm</td>
    
            </tr>
          </tbody>
         </table>
        </div>
        <br>
        <h1>Weather prognose for the next days (3h):</h1>
        <!-- Table with data with the upcoming forecastdata-->
        <div class="table-responsive-xl">
            <table class="table table-hover">
                <tr>
                    <th scope="col">Temperature:</th>
                    <th scope="col">Windspeed:</th>
                    <th scope="col">Air Pressure:</th>
                    <th scope="col">Date & Time:</th>
                </tr>
                <tbody>
                <tr *ngFor="let forecaster of forecastData.list">
                    <td scope="row" *ngIf="forecaster.dt >= starterTime && forecaster.dt <= endingTime">{{ forecaster.main.temp }} &deg;C</td>
                    <td scope="row" *ngIf="forecaster.dt >= starterTime && forecaster.dt <= endingTime">{{ forecaster.wind.speed }} m/s</td>
                    <!-- Sea level, Ground level could be written here but used main pressure only-->
                    <td scope="row" *ngIf="forecaster.dt >= starterTime && forecaster.dt <= endingTime">{{ forecaster.main.pressure }} hPa</td>
                    <td scope="row" *ngIf="forecaster.dt >= starterTime && forecaster.dt <= endingTime">{{ forecaster.dt_txt |dateAdd}}</td>
                </tbody>
             </table>
        </div>
                <!-- Return button-->
                <button button class="btn btn-primary my-2 my-sm-0" (click)="goBack()">Return</button>
    </body>

    
